<div class="container">
  <h1>Hi, <%= @user.username %>!</h1>

  <h3>Your articles:</h3>
  <% @articles.each do |article| %>
    <%= link_to article.title, article_path(article) %>
    <hr>
  <%end%>


  <h3>Your comments:</h3>
  <% @comments.each do |comment| %>
    <p><%= comment.body %> | <%= link_to comment.article.title, article_path(comment.article_id) %></p>
    <hr>
  <%end%>
</div>
