// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav-links {
  list-style: none;
  text-align: center;
}

#main-text {
  font-size: 5em;
  font-weight: 900;
  margin-bottom: 0;
  color: white;
}

#sub-text {
  font-weight: 200;
  font-size: 2.5em;
  margin-top: 0;
  padding-left: 5px;
  color: white;
}

.main-article-link a {
  font-weight: 900;
  color: #e65c00;
}

.main-article-link a:hover {
  color: #b34700;
}

ul li {
  float: right;
}

.nav navbar-nav {
  margin: 0 auto;
  float: right;
}

.nav-links li {
  display: inline;
  padding: 20px;
  margin-top: 10px;
}

.nav-links li a {
  font-size: 1.2em;
  font-weight: 900;
}

.navbar-nav {
  li a {
    margin-left: 20px;
    font-weight: bold;
  }
}

p {
  font-size: 1.1em;
}

#created-at {
  font-style: italic;
  font-size: 14px;
  color: #999999;
}

.new-article-link {
  font-size: 1.2em;
}

.navbar {
  margin-bottom: 20px;
}

.jumbotron {
  margin-top: -20px;
  background-image: url("calpinecali.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
